*.python linguist-detectable=true  
*.java linguist-detectable=false  
*.tex linguist-detectable=false  
*.html linguist-detectable=false  
*.txt linguist-detectable=false 
*.TeX linguist-detectable=false  
*.LaTeX linguist-detectable=false
*.toc linguist-detectable=false
